*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Josefin Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button{
    border:none;
    background-color:transparent;
    padding:0.2rem;
    cursor:pointer;
}

:root{
    --Very-Dark-Blue:hsl(235, 21%, 11%);
    --Very-Dark-Desaturated-Blue:hsl(235, 24%, 19%);
    --Light-Grayish-Blue:hsl(234, 39%, 85%);
    --Light-Grayish-Blue-Hover:hsl(236, 33%, 92%);
    --Dark-Grayish-Blue:hsl(234, 11%, 52%);
    --Very-Dark-Grayish-Blue:hsl(233, 14%, 35%);
    --Very-Very-Dark-Grayish-Blue:hsl(237, 14%, 26%);
}

.flex{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap:15px;
}

.header,.main{
    width:95vw;
    max-width:800px;
    margin:10px auto 0 auto;
    padding:1rem 0.5rem;
}

.header{
    justify-content:space-between;
    flex-wrap:wrap;
    border-radius:0.5rem 0.5rem 0 0;
}

.main{
    min-height:750px;
    border-radius:0 0 0.5rem 0.5rem;
    margin-bottom:1rem;
}

.optionBtnContainer{
    justify-content:flex-start;
    gap:2rem;
    margin:1rem;
}

.hamburger{
    display:none;
    margin-left:auto;
    margin-right:0.5rem;
    flex-direction:column;
    gap:5px;
}

.hamburger .bar{
    width:25px;
    height:2px;
    transition:all 0.2s ease-in-out;
}

.hamburger.active .bar:nth-child(1){
    transform:translateY(7px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2){
    opacity:0;
}

.hamburger.active .bar:nth-child(3){
    transform:translateY(-7px) rotate(-45deg);
}

.main.dark .bar{
    background-color:#FFF;
}

.main.light .bar{
    background-color:#000;
}

.home,.search,.history{
    list-style-type:none;
}

.main.dark .navLink,.main.dark .historyWord{
    color:#FFF;
}

.main.light .navLink,.main.light .historyWord{
    color:#000;
}

.navLink{
    gap:8px;
    text-decoration:none;
    border-bottom:3px solid transparent;
    opacity:0.7;
    padding:5px 2px;
    position:relative;
    padding-left:25px;
    transition:all 0.1s ease-in-out;
}

.navLink.active{
    padding-left:28px;
    border-bottom-color:rgb(16, 108, 228);
    opacity:1;
}

.navLink:hover{
    transform:translateY(-2px);
    opacity:0.5;
}

.navLink:active{
    opacity:1;
}

.navLink img{
    position:absolute;
    left:0;
    margin-bottom:3px;
    transition:all 0.2s ease-in-out;
}

.navLink.active img{
    height:18px;
}

label{
    width:fit-content;
    margin:10px auto 0 auto;
    border-radius:0.2rem;
    gap:0 !important;
}

input{
    border:none;
    font-size:1rem;
    padding:0.8rem;
    border-radius:0.3rem 0 0 0.3rem;
    background-color:transparent;
    max-width:60vw;
}

.searchWordBtn{
    padding:0.5rem;
}

.main.light label{
    background-color:var(--Light-Grayish-Blue);
}

.main.dark label{
    background-color:var(--Very-Dark-Blue);
}

.main.dark input{
    color:#FFF;
}

.header.light,.main.light{
    background-color:var(--Light-Grayish-Blue-Hover);
}

.header.dark,.main.dark{
    background-color:var(--Very-Dark-Desaturated-Blue);
}

.header h1{
    font-size:1.6rem;
    font-weight:600;
}

.header div>img{
    height:40px;
    border-radius:100px;
}

body{
    overflow-x:hidden;
}

#body{
    min-width:100vw;
    min-height:100vh;
    position:absolute;
    flex-direction:column;
}

#body.light{
    background-color:var(--Light-Grayish-Blue);
    color:var(--Very-Dark-Blue);
}

#body.dark{
    background-color:var(--Very-Dark-Blue);
    color:#FFF;
}

.result{
    margin:20px auto 0 auto;
    padding:1rem;
}

.word{
    font-size:1.8rem;
    text-transform:capitalize;
}

.wordDetails{
    padding-left:10px;
}

.phonetics{
    margin:0.8rem 0;
    justify-content:flex-start;
    gap:2.5rem;
    opacity:0.8;
    font-size:13px;
    flex-wrap:wrap;
}

.phonetic{
    gap:0.6rem;
}

.voicePlayBtn{
    background-size:cover;
    height:20px;
    width:20px;
}

.main.light .voicePlayBtn{
    background:url('./images/volume-high-dark.svg') no-repeat;
}

.main.dark .voicePlayBtn{
    background:url('./images/volume-high-light.svg') no-repeat;
}

.partOfSpeechTitle{
    font-size:1.5rem;
    font-weight:500;
    margin-top:1.3rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.definition{
    margin:20px 5px 10px 5px;
    font-size:16px;
}

.definition::before{
    display:inline-block;
    content:' ';
    height:5px;
    width:5px;
    border-radius:100px;
    margin:3px 5px;
    background-color:#FFF;
}

.main.light .definition::before{
    background-color:var(--Very-Dark-Blue);
}

.main.dark .definition::before{
    background-color:#FFF;
}

.synonym,.antonym,.example{
    margin:5px 15px;
}

.synonym span,.antonym span,.example span{
    font-size:1.1rem;
    letter-spacing:0.5px;
}

.synonym.last,.antonym.last{
    margin:1.5rem 0;
}

.wordCard{
    width:90%;
    margin:1.5rem auto;
    padding:1rem;
    border-radius:0.7rem;
}

.main.dark .wordCard, .main.dark .historyBlock{
    background-color:var(--Very-Dark-Blue);
}

.main.light .wordCard, .main.light .historyBlock{
    background-color:var(--Light-Grayish-Blue);
}

.wordCard .title{
    font-size:1.3rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.wordCard .welcomeWordDefinition{
    margin:10px;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing:0.8px;
}

.wordCard .knowMoreLink,.clearAllBtn{
    display:block;
    background-color:#000;
    color:#FFF;
    padding:0.6rem;
    margin-left:auto;
    border-radius:0.3rem;
    font-size:1rem;
    transition:all 0.2s ease-in-out;
}

.clearAllBtn{
    padding:0.6rem 0.8rem;
    margin:1rem;
}

.clearAllBtn:hover{
    transform:translateX(-3px);
}

.wordCard .knowMoreLink:hover{
    transform:translateX(3px);
}

.knowMoreLink{
    text-decoration:none;
    width:fit-content;
}

.noHistoryMsg{
    margin:4rem 5px;
    text-align:center;
    font-size:1.5rem;
    line-height:1.8;
}

.historySection{
    margin:2rem 0.5rem;
}

.historyBlock{
    justify-content:space-between;
    padding:10px;
    border-bottom:1px solid #FFF;
}

.historyBlock:last-child{
    border:none;
}

.historyBlock div{
    gap:2rem;
    font-size:1.3rem;
}

.historyWord{
    text-underline-offset:4px;
    text-decoration-color:rgb(16, 108, 228);
    transition:all 0.2s ease-in-out;
}

.historyWord:hover{
    text-decoration-color:rgb(187, 64, 64);
}

.error{
    margin-top:2rem;
}

.errorTitle{
    font-size:1.3rem;
    margin-bottom:1rem;
    margin-left:10px;
}

.errorDescription,.errorResolution{
    margin:5px;
    margin-left:20px;
}

.fetchError{
    margin:2rem;
    text-align:center;
    font-size:1.3rem;
}

.loaderContainer{
    gap:0px;
    margin:2rem;
}

.circle{
    width:10px;
    height:10px;
    margin:5px;
    border-radius:50%;
    background:#000;
    animation:circle 1s infinite;
}

.main.dark .circle{
    background:#FFF;
}

.circle:nth-child(2){
    animation-delay:0.2s;
}

.circle:nth-child(3){
    animation-delay:0.4s;
}

@keyframes circle{
    0%{transform:scale(1); opacity:1;}
    50%{transform:scale(0); opacity:0;}
    100%{transform:scale(1); opacity:1;}
}

@keyframes loading{
    from{transform:rotate(0deg)}
    to{transform:rotate(360deg)}
}

@keyframes changeBorderColor{
    0%{border-top-color:#FFF;}
    25%{border-top-color:var(--Very-Dark-Gray);
        border-left-color:#FFF;}
    50%{border-left-color:var(--Very-Dark-Gray);
        border-bottom-color:#FFF;}
    75%{border-bottom-color:var(--Very-Dark-Gray);
        border-right-color:#FFF;}
    100%{border-right-color:var(--Very-Dark-Gray);
        border-top-color:#FFF;}
}

@media only screen and (max-width:400px){
    .main{
        padding:1rem 0;
    }

    .result{
        padding:1rem 0.4rem;
    }

    .hamburger{
        display:flex;
    }

    .main.dark .optionBtnContainer{
        background-color:#000;
        box-shadow:0 0 2px 0 var(--Light-Grayish-Blue);
    }

    .main.light .optionBtnContainer{
        background-color:#FFF;
        box-shadow:0 0 2px 0 var(--Very-Dark-Desaturated-Blue);
    }

    .optionBtnContainer{
        width:70vw;
        opacity:0;
        flex-direction:column;
        align-items:flex-start;
        padding:1rem;
        padding-right:2rem;
        gap:1rem;
        border-radius:0.5rem;
        position:absolute;
        top:-10px;
        right:0;
        z-index:-10;
        transition:all 0.2s ease-in-out;
    }

    .hamburger.active+div .optionBtnContainer{
        z-index:10;
        top:0;
        opacity:1;
    }
}

@media only screen and (max-width:350px){
    .historyBlock div{
        font-size:1rem;
        gap:1rem;
        text-align:left;
        flex-wrap:wrap;
    }

    .historyBlock{
        flex-wrap:wrap;
    }
}