*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Josefin Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button{
    border:none;
    background-color:transparent;
    padding:0.2rem;
    cursor:pointer;
}

:root{
    --Very-Dark-Blue:hsl(235, 21%, 11%);
    --Very-Dark-Desaturated-Blue:hsl(235, 24%, 19%);
    --Light-Grayish-Blue:hsl(234, 39%, 85%);
    --Light-Grayish-Blue-Hover:hsl(236, 33%, 92%);
    --Dark-Grayish-Blue:hsl(234, 11%, 52%);
    --Very-Dark-Grayish-Blue:hsl(233, 14%, 35%);
    --Very-Very-Dark-Grayish-Blue:hsl(237, 14%, 26%);
}

.flex{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap:15px;
}

.header,.main{
    width:100vw;
    max-width:800px;
    margin:10px auto 0 auto;
    padding:1rem 0.5rem;
}

.header{
    justify-content:space-between;
    border-radius:0.5rem 0.5rem 0 0;
}

.main{
    border-radius:0 0 0.5rem 0.5rem;
}

label{
    width:fit-content;
    margin:10px auto 0 auto;
    border-radius:0.2rem;
    gap:0 !important;
}

input{
    border:none;
    font-size:1rem;
    padding:0.8rem;
    border-radius:0.3rem 0 0 0.3rem;
    background-color:transparent;
}

.searchWordBtn{
    padding:0.5rem;
}

label.light{
    background-color:var(--Light-Grayish-Blue);
}

label.dark{
    background-color:var(--Very-Dark-Blue);
}

label.dark input{
    color:#FFF;
}

.header.light,.main.light{
    background-color:var(--Light-Grayish-Blue-Hover);
}

.header.dark,.main.dark{
    background-color:var(--Very-Dark-Desaturated-Blue);
}

.header h1{
    font-size:1.6rem;
    font-weight:600;
}

.header div>img{
    height:40px;
    border-radius:100px;
}

body{
    overflow-x:hidden;
}

#body{
    min-width:100vw;
    min-height:100vh;
    position:absolute;
}

#body.light{
    background-color:var(--Light-Grayish-Blue);
    color:var(--Very-Dark-Blue);
}

#body.dark{
    background-color:var(--Very-Dark-Blue);
    color:#FFF;
}